<a href="https://colab.research.google.com/github/majorquev/DBDC_202504_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/Clase1/Clase_1_02_vectores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## 3. Vectores y matrices

### 3.1 Vectores

En R, así como en la mayoría de los lenguajes de programación, uno de los objetos más usuales para almacenar información son los vectores, los que corresponden a arreglos unidimensionales que almacenan un mismo tipo de dato en cada una de sus entradas.

Todo vector en R se puede declarar con la letra "c" seguido de los elementos que lo componen entre paréntesis y separados por comas.

In [1]:
# Declaración de dos vectores
v1 <- c(1,1,2,3,5,8)
v2 <- c(13,21)

b1 <- c("a","w","x")
b2 <- c(T,T,F)

In [5]:
w1 <- c( as.Date("04/22-2025", format = "%m/%d-%Y"),as.Date("04/23-2025", format = "%m/%d-%Y") )

In [3]:
?as.Date

In [4]:
as.Date("04/22-2025", format = "%m/%d-%Y")

[1] "2025-04-22"

In [8]:
# Explorar los vectores
v1
b1
w1

[1] 1 1 2 3 5 8

[1] "a" "w" "x"

[1] "2025-04-22" "2025-04-23"

In [9]:
# Como alternativa del vector de fechas
w2 <- as.Date(c( "04/22-2025","04/23-2025"), format = "%m/%d-%Y")

In [10]:
w2

[1] "2025-04-22" "2025-04-23"

In [12]:
# clase y tipo de dato
class(v1)
typeof(v1)

[1] "numeric"

[1] "double"

In [13]:
class(w1)

[1] "Date"

In [14]:
c(1,1,NA,3)

[1]  1  1 NA  3

In [15]:
# vectores lógicos
b2

[1]  TRUE  TRUE FALSE

In [16]:
# Nombres de las entradas de un vector
v1
v2

[1] 1 1 2 3 5 8

[1] 13 21

In [17]:
# Creando el vector con casillas con nombres
v3 <- c(n9 = 34, n10 = 55)

In [18]:
v3

 n9 n10
 34  55

In [19]:
# podemos extraer los nombres de las casillas
names(v3)

[1] "n9"  "n10"

In [20]:
names(v2)

NULL

In [23]:
# NULL en R suele denotar a objetos vacíos
is.null(NULL)

[1] TRUE

In [24]:
v2

[1] 13 21

In [25]:
# podemos asignar los nombres a vector 1
names(v2) <- c("n7","n8")

In [26]:
# nombres de las entradas con la función, names()
names(v2)

[1] "n7" "n8"

In [27]:
v2

n7 n8
13 21

In [34]:
#combinar vectores
v4 <- c(v2,v3)
v4

 n7  n8  n9 n10
 13  21  34  55

In [40]:
# Si combino vectores de distinto tipo de dato
# b1;v1 sirve para ejecutar dos lineas en una
c(b1,v1)

[1] "a" "w" "x" "1" "1" "2" "3" "5" "8"

In [ ]:
# c : es una abreviación de "combine"

#### 3.1.1 Acceso a los elementos de un vector

El acceso a los elementos de un vector se puede llevar acabo indicando la posición del elemento (los naturales parten en 1!), el nombre de la casilla que lo contiene, o bien mediante sentencias lógicas que retornen "TRUE" en la posición deseada.

In [44]:
# Mediante posición
# Ojo que en R las posiciones parten del 1.
v1
v1[4]

[1] 1 1 2 3 5 8

[1] 3

In [43]:
# retorna los elementos de las casillas 1  y 4 de v1
v1[c(1,4)]

[1] 1 3

In [46]:
#NOTA 3:5, R lo interpreta como c(3,4,5)
-3:10

 [1] -3 -2 -1  0  1  2  3  4  5  6  7  8  9 10

In [48]:
v1[3:6]# Retorna los elementos desde la posición 3 hasta la 6.

[1]  2  3  5  8 NA

In [51]:
# podemos acceder a los elmentos mediante el nombre
v4
v4["n8"] # Rescatamos el elemnto cuya casilla tiene como nombre "n8"
# Rescatamos los elementos cuyas casilla tienes como nombre "n8" , "n10" y "n7"
v4[c("n8","n10","n7")]

 n7  n8  n9 n10
 13  21  34  55

n8
21

 n8 n10  n7
 21  55  13

In [52]:
# cambiar una entrada de un vector o cambiar un nombre
v4

 n7  n8  n9 n10
 13  21  34  55

In [54]:
# Cambiar la tercera entrada (de nombre n9) de v4, por un 99
v4["n9"] <- 99

In [55]:
v4

 n7  n8  n9 n10
 13  21  99  55

In [58]:
# podemos cambiar uno de los nombres (ej, queremos cambiar el segundo nombre)
names(v4)[2] <- "otro_nombre"

In [59]:
v4

         n7 otro_nombre          n9         n10
         13          21          99          55

In [ ]:
# podemos modificar varias posiciones a la vez
# queremos re-asignar los valores "XX" y "ZZ" en las posiciones 3 y 7 respecivamente

**Algunas sentencias de utilidad**

También es posible acceder a los alementos de un vector mediante sentencias lógicas que retornen "TRUE" en la posición deseada. Para ello algunas funciones que son de utilidad son las siguientes.

   **Conectores lógicos**

    &, && |                  : conector y
    |,||                     : conector o
    ==                       : igual
    !                        : negación
    !=                       : distinto
    >, >=                    : mayor que, mayor o igual que
    <,<=                     : menor que, menor o igual que
    is.na()                  : es NA?
    which()                  : en qué posición es verdadera la expresión evaluada?
    which.min(), which.max() : en qué posición se alcanza el mínimi/máximo
    %in%                     : los elementos están en?

In [ ]:
# para acceder a elementos de un vector tenemos:
# 1. por posicion
# 2. por nombre
# 3. por indicatrices lógicas (un vector con TRUE (T) o FALSE (F) del mismo largo del que quiero consultar)

In [ ]:
# Esto facilita la búsqueda dentro de un un vector. Ej: retornar los elementos mayores aun valor dado

In [ ]:
# con esta idea en mente podríamos, por ejemplo, rescatar las edades con valor mayor o igual a 18 años

In [ ]:
# podríamos guardar el vector de T o F's en una variable para luego referenciarla

In [ ]:
#?which.max
#podemos rescatar el valor mediante el índice guardado

In [ ]:
# Operador %in%
# vector_a %in% vector_b (qué elementos del vector a están en el vector b)
# retorna un  vector de TRUE's y FALSE's del largo del primer vector(a) (izquierda)

In [ ]:
# podemos utilizar la función all() para evaluar si todos los elementos de un vector son TRUE.

In [ ]:
# si quisiéramos evaluar que todos los elementos de la izq. estén en la derecha,
# podemos utilizar la función all().

In [ ]:
# aritmética con vectores
# operación de vectore de igual largo

In [ ]:
#ponderaciones por escalares

In [ ]:
#CUIDADO: Si se operan vectores de dstinto largo se reciclan los valores del vector más pequeño

In [ ]:
# NOTA:
# podemos determinar el largo de un vector mediante la función length()

**Secuencias**

En R es posible generar de manera rápida y sencilla algunas secuencias numéricas y almacenarlas en un vector.

Ejemplo de estas funciones son :

    rep()
    seq()
    
Más adelante veremos como generar números aleatorios siguiendo alguna función de distribución de interés.

In [ ]:
# a vimos que fácilmente ppodemos generar vectores de enteros consecutivos vía ":"

In [ ]:
# Ejemplo de secuencia con rep (utilice distintos tipos de datos)

In [ ]:
# podemos controlar el largo del vector resultante con el parámetro length.out

In [ ]:
# ejemplo de función seq (utilice argumento by, y otro ejemplo con argumento length.out)

In [ ]:
# ejemplo de vector aleatorio siguiendo una determinada distribución

# distribución uniforme
# distribución normal

### 3.2 Funciones (primera parte)

#### 3.2.1 Funciones vectorizadas y operaciones con vectores

R es un lenguaje funcional, en el sentido de que prácticamente cada llamada a R corresponde a una función que puede (o no) recibir argumentos de entrada.
Una de las ventajas es que existe una amplia, muy amplia,... verdaderamente amplia!, variedad de funciones disponibles, tanto en las librerías que vienen con la instalación por defecto como las librerías disponibles en CRAN o en toda la comunidad R.

En R, una función $f$ se dice vectorizada si dado un vector $\mathbf{x}=(x_1,x_2,\dots,x_n)$, se tiene que $f(\mathbf{x})=(f(x_1),f(x_2),\dots,f(x_n))$.
Esto hace que, por ejemplo, la aritmética de vectores se más sencilla de implentar y con un menor tiempo de cómputo . Gran parte de las funciones disponibles en la librerías (bibliotecas o *packages*) de R corresponden a funciones vectorizadas.
A modo de ejemplo, a cotinuación se muestran algunas funciones (de las más básicas) aritméticas, y funciones para trabajar con texto:
    
    +,-,*,/
    abs()
    sqrt()
    cos()
    sin()
    tan()
    nchar()
    susbtr()
    grepl()
    gsub()

In [ ]:
# 3.2. Funciones (primera parte) ------------
# 3.2.1 Funciones vectorizadas
# Ejemplos básicos de funciones(vectorizadas)

In [ ]:
# funciones para manipular texto
 #cantidad de caracteres

In [ ]:
# substring substr()

In [ ]:
# grepl() evlaúa si un  caracter está contenido en otro. (LIKE)
#?grepl()
grepl("ala", "palabra")
grepl("alo", "palabra")


#gsub() reemblaza un substring por otro
#?gsub

# si reemplazamos en un vector de palabras

In [ ]:
#gsub() reemplaza caracteres dentro de un texto
#https://www.tidytextmining.com/